/* Add Global styles here */
body{
    margin: 0px;
}
main{
    margin: 20px
}
h1{
    text-align:center
}











.navbarT{
    background-image: linear-gradient(to bottom, rgb(0, 38, 255), rgb(0, 217, 255));
padding: 40px;
margin: 0px;
letter-spacing: 2px;
color: white;
text-shadow: 0px 3px 1px black;

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.navbar ul{
    list-style-type: none;
    background-color: rgb(73, 73, 73);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(29, 29, 29);
}

.navbar li{
    float: left;

}

h4 {
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.watchlive{
     text-align: center;
     font-family:Arial, Helvetica, sans-serif;
}

.videolive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listprogram {
    margin-left: 150px;
    margin-right: 150px;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: black;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    text-align: center;
    float: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}